.day{

    /* background: var(--mantine-color-text); */
    /* border-radius: 100%; */
    
}

.day[data-first-in-range=true]{
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;}

.day[data-last-in-range=true]{
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.day[data-selected=true]:not([data-last-in-range=true]):not([data-first-in-range=true]){
    /* border-top-right-radius: 100%;
    border-bottom-right-radius: 100%; */

    border-radius: 100%;
}